<!DOCTYPE html>
<html class="mz-theme" lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<title>刷题</title>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<style>
			.browser_tips{background:#FEFEE2; text-align: center; height: 24px; line-height: 24px; margin: 0; padding: 0;}
		
		</style>
		<script>
			
			window.onerror=function(e){
				var ua=window.navigator.userAgent;
				var borwserTips=document.getElementById('browserTips');
				if(ua.indexOf('MSIE 8.0')>-1 || ua.indexOf('MSIE 7.0')>-1 || ua.indexOf('MSIE 6.0')>-1){
					borwserTips.style.display='';
				}
			
				
			}
		</script>
	<link href="/resources/flybomb/dist/manage/common.css?ver=1530018473353" rel="stylesheet"></head>

	<body>
		<p class="browser_tips" style="display:none;" id="browserTips" >本浏览器版本太老，不支持网页正常打开，请使用IE系列9及以上版本或者使用Chrome、Firefox浏览器打开</p>
        <div id="wrap"></div>


	<script type="text/javascript" src="/resources/flybomb/dist/manage/main.js?ver=1530018473353"></script><script type="text/javascript" src="/resources/flybomb/dist/manage/vender.js?ver=1530018473353"></script><script type="text/javascript" src="/resources/flybomb/dist/manage/flybomb.js?ver=1530018473353"></script></body>

</html>

