.box-userList{overflow:hidden;border-bottom:1px solid #e5e5e5;}
.box-userList-side{float:left;width:169px;border-right:1px solid #e5e5e5;}
.box-userList-side li{height:50px;text-indent:45px;font-size:16px;line-height:50px;cursor:pointer;}
.box-userList-side .on{color:#fff;background:#02a6e9;}
.box-userList-mark{width:100px;text-align:right;float:left;margin-right:10px;}
.box-userList-con{margin-top:20px;}
.box-userList-subMark .item{float:left;margin-bottom:10px;margin-right:5px;width:220px;}
.box-condition-list{min-height:80px;max-height:200px;overflow-y:auto;padding-bottom:20px;}
.box-userList-con{display:none;}
.box-condition .accordMark{line-height:55px;}
.box-condition-bd{border:1px solid #e5e5e5;border-top:none;padding:15px;}
.box-condition-ft{padding-top:10px;}
.box-userList-main{overflow-y:auto;}

.b-item{line-height:28px;border:1px solid #dbdbdb;background:#f4f4f4;text-indent:10px; display: inline-block;}
.relate{position:relative;width:66px;cursor:pointer;margin:0 10px 10px;}
.relate-choose{width:0;height:0;overflow:hidden;border:6px solid transparent;border-top-color:#777777;position:absolute;right:10px;top:50%;margin-top:-3px;display:block;}
.relate-list{position:absolute;border:1px solid #dbdbdb;left:-1px;top:28px;border-bottom:none;display:none;}
.relate-list li{height:28px;line-height:28px;background:#f4f4f4;width:66px;border-bottom:1px solid #dbdbdb;}
.relate-on .relate-list{display:block;}
.item-wrap{position:relative;padding-right:40px;margin-bottom:10px;}
.item-close{position:absolute;right:10px;top:0;height:28px;line-height:28px;cursor:pointer;display:block;}

.box-addGroup td{height:90px;}
.box-addGroup .inp{width:400px;}

.box-submit{padding:60px 0;text-align:center;}
.box-submit .u-btn{display:inline-block;}
.box-userList-con-col{overflow:hidden;zoom:1;margin-top:10px;}

.box-submit .u-btn{color:#fff;text-decoration:none;}


.showPeople-box{padding-left:35px;}
.showPeople-num{min-width:100px}
